{% extends 'base.html' %}

{% block h1_header %}
    <h1>Bienvenidos... Seleccionen el Grand Prix que disfrutaron y cuentenos lo que sintieron al verlo</h1>
{% endblock h1_header %}


{% block contenido %}

{% if grand %}
<h2> Se creó el Grand Prix{{grand.pais}} con la victoria de {{grand.win}}</h2>
{% endif %}
<form action={% url 'crear_prix' %} method="POST" enctype='multipart/form-data'>
 {% csrf_token %}
  <table>   
  {{form}}
  {{form.media}}
  </table>
 <button>Crear</button>    
  
    
</form>
{% endblock contenido %}