{% extends 'base.html' %}

{% block titulo_head %}
<title>Grand Prixs</title>

{% endblock titulo_head %}




{% block h1_header %}

Listado de Grand Prix
{% endblock h1_header %}
    


{% block contenido %}

<button> 
<a class="navbar-brand"href={% url 'crear_prix' %}>Crear Grand Prix</a>
</button>

{% comment %} <form action="" method="get">
 <table> 
    {{formulario}}

 </table>
    <button>Buscar</button> {% endcomment %}


</form>   
{% for prix in prixs  %}
<li> Nombre: {{prix.pais}} -- Victoria de: {{prix.win}}  </li>
{% comment %} <a href= {% url 'descripcion_prix' prix.id %}>Ver Más</a> {% endcomment %}
<button> 
<a class="navbar-brand"href= {% url 'eliminar_prix' prix.id %}>Eliminar</a>
</button>
<button> 
<a class="navbar-brand" href= {% url 'modificar_prix' prix.id %}>Modificar</a>
</button>
<button> 
<a href= {% url 'mostrar_prix' prix.id %}>Ver Más</a>
</button>
{% endfor %}

{% endblock contenido %}