 {% extends 'base.html' %}
  {% load static %}      
 
 {% block contenido %}
    
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Grandes pilotos en la actualidad...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src={% static 'assets/img/hamilton.jpg' %} alt="..." />
                            <h5>Lewis Hamilton - Piloto de Mercedes AMG.</h5>
                            <p class="font-weight-light mb-0">"El piloto más laureado de la historia con 7 campeonatos mundiales"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src={% static 'assets/img/charles.jpg' %} alt="..." />
                            <h5>Charles Lecrec - Piloto de Ferrari.</h5>
                            <p class="font-weight-light mb-0">"Un piloto con todo el talento pero victima de la mala estrategia...Podrá algun dia obtener un campeonato mundial?."</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src={% static 'assets/img/max.jpg' %} alt="..." />
                            <h5>Max Verstappen - Piloto de Red Bull Racing </h5>
                            <p class="font-weight-light mb-0">"Un piloto con una fieresa y agresividad de un toro, es el actual bi campeon y va camino por su tercer campeonato"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
 {% endblock contenido %}
        